<ion-header class="ion-padding">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="primary">
                <ion-icon slot="start" name="add"></ion-icon>
            </ion-back-button>
        </ion-buttons>
        <ion-title>Mis Proyectos</ion-title>
        <ion-avatar slot="end">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row *ngFor="let proyecto of proyectos|misProyectos:usuario.id">
            <ion-col size="10" offset="1">
                <ion-card native>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3" class="logo-proyecto">
                                <ion-avatar>
                                    <img
                                        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="7">
                                <ion-card-header>
                                    <ion-card-title>{{proyecto.nombre}}</ion-card-title>
                                </ion-card-header>
                                <ion-card-content>
                                    <span>Rol y fechas del proyecto</span>
                                </ion-card-content>
                            </ion-col>
                            <ion-col (click)="eliminarProyecto(proyecto.id)" class="boton-borrar" size="2">
                                <span>X</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>

        <app-tabs></app-tabs>
    </ion-toolbar>
</ion-footer>