<ion-header class="ion-padding">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title>Nuevo Proyecto</ion-title>
        <ion-avatar slot="end">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <!-- <form (ngSubmit)="onSubmit()" class="ion-padding"> -->
        <ion-item>
            <ion-label position="floating">Nombre del Proyecto</ion-label>
            <ion-input required type="text" [(ngModel)]="proyecto.nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Descripción del Proyecto</ion-label>
            <ion-textarea rows="5" [(ngModel)]="proyecto.descripcion"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>DD/MM/YYYY</ion-label>
            <ion-datetime displayFormat="DD MM YY" placeholder="Fecha limite" min="2021-01-10" max="2030" (ionChange)="cambiarFechaFin($event)">
            </ion-datetime>
        </ion-item>

        <!-- <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
            Login
        </ion-button> -->
    <!-- </form> -->
</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button href="home" expand="block">
                    Cancelar
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="agregarProyecto()" expand="block">
                    Crear
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>