<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Nombre del proyecto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="columna-imagen" size="10" offset="1">

                <img src="../../../assets/icon/pixlr-bg-result.png">

            </ion-col>
        </ion-row>
        <ion-row class="descripcion-proyecto">
            <ion-col size="12">
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <h2>Descripcion</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="descripcion-proyecto-contenido" size="12">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo accusantium quasi asperiores?
                            Provident praesentium explicabo voluptas porro officiis vitae iste veniam commodi at. Minus
                            nisi alias quos eius, officia voluptas!
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row class="boton-chat">
            <ion-col size="12">
                <ion-button href="chats" shape="round">
                    Iniciar chat
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>