<header-principal></header-principal>

<ion-content class="ion-padding" [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="block" class="botones-menu" (click)="irA('nuevoProyecto')">
                    Nuevo proyecto
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button disabled="true" expand="block" class="botones-menu" (click)="irA('proyectosAnteriores')">
                    Proyectos anteriores
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button expand="block" class="botones-menu" (click)="irA('proyectosActuales')">
                    Mis proyectos
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<!-- Componente tabs -->
<ion-footer>
    <ion-toolbar>
        <app-tabs></app-tabs>
    </ion-toolbar>
</ion-footer>