<!-- Componente header-principal -->
<!-- <header-principal></header-principal> -->
<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <ion-buttons>
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>

                </ion-col>
                <ion-col size="8">
                    <ion-searchbar></ion-searchbar>

                </ion-col>
                <ion-col size="2">

                    <ion-avatar>
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                </ion-col>
            </ion-row>
        </ion-grid>


            
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-grid>
        <!-- Fila contenedora del nombre completo y la foto de perfil del usuario -->
        <ion-row>
            <!-- Columna de nombre completo -->
            <ion-col size="7">
                <ion-toolbar>
                    <!-- <ion-title size="large">Nombre apellidos</ion-title> -->
                    <h2>{{usuario.nombre}} {{usuario.apellido}}</h2>
                </ion-toolbar>
            </ion-col>
            <!-- Columna con la foto de perfil del usuario -->
            <ion-col size="5" id="col-avatar">
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
                </ion-avatar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="padding-0">
                <ion-grid class="padding-0">
                    <ion-row>
                        <ion-col>
                            <h3 class="titulo">Descripcion</h3>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-text *ngIf="usuario.perfil.descripcion == ''">
                                <h5 class="text-muted">Escriba su descripción</h5>
                            </ion-text>
                            <ion-text *ngIf="usuario.perfil.descripcion != ''">
                                <h5 class="text-muted">{{usuario.perfil.descripcion}}</h5>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="padding-0">
                <ion-grid class="padding-0">
                    <ion-row>
                        <ion-col>
                            <h3 class="titulo">Proyectos</h3>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-text *ngIf="usuario.perfil.proyectos == ''">
                                <h5 class="text-muted">Escriba sus proyectos</h5>
                            </ion-text>
                            <ion-text *ngIf="usuario.perfil.proyectos != ''">
                                <h5 class="text-muted">{{usuario.perfil.proyectos}}</h5>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col class="columna-boton" size="10" offset="1">
                <ion-button class="btn-editarPerfil"  shape="round" (click)="irA('modificarPerfil')">
                    Editar perfil
                </ion-button>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- Componente tabs -->
<ion-footer>
    <ion-toolbar>
        <app-tabs></app-tabs>
    </ion-toolbar>
</ion-footer>