<ion-app>

  <ion-menu side="start" menuId="menuProyecto" contentId="mnuProyecto">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Opciones de proyecto</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>Integrantes</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
          <ion-label>Chat de grupo</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          <ion-label>Volver</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Configuración</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="menu">
        <ion-item>Privacidad</ion-item>
        <ion-item>Notificaciones</ion-item>
        <ion-item>Opciones</ion-item>
        <ion-item href="" (click)="cerrarSesion()"><a>Cerrar sesión</a></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="mnuProyecto"></ion-router-outlet>
</ion-app>
