<ion-header [translucent]="true" >
    <ion-toolbar >
        <ion-grid fixed class="contenido-input">
            <ion-row >
                <ion-col class="input-chat" size="9">
                    <ion-input placeholder="Mensaje"></ion-input>
                </ion-col>
                <ion-col size="3">
                    <ion-button type="submit" shape="round"><ion-icon name="paper-plane-outline"></ion-icon></ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>


    </ion-toolbar>
</ion-header>