<!-- Componente header-principal -->
<header-principal></header-principal>

<!-- Contenido de la pagina -->
<ion-content [fullscreen]="true">

  <!-- Proyectos en formato de carta dentro de un ion-grid -->
  <ion-grid>
    <ion-row *ngFor="let proyecto of proyectos |async">
      <ion-col size="10" offset="1">
        <ion-card native (click)="cambiarPagina(proyecto.id)">
          <ion-grid>
            <ion-row>
              <ion-col size="4" id="logo-proyecto">
                <ion-avatar>
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
                </ion-avatar>
              </ion-col>
              <ion-col size="8">
                <ion-card-header>
                  <ion-card-title>{{proyecto.nombre}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  {{proyecto.descripcion}}
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>

    
  </ion-grid>

</ion-content>

<!-- Componente tabs -->
<ion-footer>
  <ion-toolbar>

    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>