<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-card>

          <ion-card-content>
            <ion-grid>

              <p>Para recuperar la contraseña debe ingresar su correo electrónico.
                Le enviaremos un mensaje que contiene un link para recuperar su contraseña.
              </p>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Correo Electrónico</ion-label>
                    <ion-input type="password"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button expand="block" href="">Enviar Solicitud</ion-button>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>